/*
 *  test-panel.css
 *  this css for test panel 
 *
 */

.fb-test-float{
    background-color: rgb(0, 255, 128);
    position: fixed;
}

.fb-test-bottom-right{
    bottom: 0px;
    right: 0px;
}

.fb-test-size{
    width: 300px;
    height: 300px;
}